body{
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #f2f1ef;

}
.imagen img{
	max-width: 100%;
}
.imagen{
	max-width: 4.5%;
}
header{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #f2f1ef;
	-webkit-box-shadow: 0px 16px 15px -6px #683648;
	width: 100%; 
	box-shadow: 0px 16px 15px -6px #683648;
}
.menu{
display: contents;
}
nav form div{
	display:flex;
	flex-direction:column;

}
nav form{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 1rem;
}
form button{
	min-width: 100%;
	font-family: 'Yellowtail', cursive;
}
.forminput label, input{
	font-family: 'Yellowtail', cursive;	
	margin: 2px;
}
a{
	margin-top: 2rem ;
	text-decoration: none;
	font-family: 'Yellowtail', cursive;	
	font-weight: bold;
	color: #683648;

}
h2{
	font-family: 'Yellowtail', cursive;
	color: #683648;
}
.contenido{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.contenido div{
	width: 25%;
	display: flex;
	height:200px ;
	min-width:300px;
	flex-direction: column;
	
}
.contenido p{
	background-color: black;
	color: #a37c82;
	margin-top: 0px;
	text-align: center;
	font-family: 'Yellowtail', cursive;
	
	
}
.Dogo img{
	min-height: 91%;
}
.SBernardo img{
	max-height: 91%;
}
.Mastin img{
	max-height: 91%;
}
.Leonberger img{
	max-height: 91%;
}
.Bullmastiff img{
	min-height: 91%;
}
.TosaInu img{
	max-height: 91%;
}
.Terranova img{
	min-height: 91%;
}
.PerroLoboC img{
	min-height: 91%;
}
.FilaB img{
	min-height: 91%;
}
.DogoB img{
	max-height: 91%;
}
.DogoT img{
	max-height: 91%;
} 
.Komondor img{
	min-height: 91%;
}
table{
	border-collapse: collapse;
}
.tablita{
	display: block;
	overflow-x: auto;
}
th{
	background-color: black;
	color: #a37c82;
	font-family: 'Yellowtail', cursive;
	font-size: large;	
}
td{
	font-family: 'Montserrat', sans-serif;

}
td,th{
	border:1px solid black;
	width: 15%;
	padding: 0.5 rem;
	text-align: center;
}
table img{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
tr td:last-child{
	padding: 0px;
	margin: 0px;
	vertical-align: ;
}
tbody tr:nth-child(2n){
	background-color: #a37c82;
}
article{
	display: flex;
}
figure{
	border: 1px solid black;
	max-width: 20%;
	background-color: #a37c82;
	padding: 0.5rem;
}
figure img{
	max-width: 100%;
	
}
details figure{
	width: 30%;
}
.mastinelespañolito figure{
	width: 35%;
}

summary{
	font-family: 'Yellowtail', cursive;	
	cursor: pointer;
	color: #a37c82;
}
details p{
	font-family: 'Montserrat', sans-serif;

}