body{
	margin: 0px;
}
.imagen img{
	max-width: 100%;
}
.imagen{
	max-width: 4.5%;
}
header{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: whitesmoke;
}
.menu{
display: contents;
}
nav form div{
	display:flex;
	flex-direction:column;

}
nav form{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 1rem;
}
form button{
	min-width: 100%;
}
.forminput label, input{
	margin: 2px;
}
a{
	margin-top: 2rem ;
	text-decoration: none;

}
.contenido{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.contenido div{
	width: 25%;
	display: flex;
	height:200px ;
	min-width:300px;
	flex-direction: column;
	
}
.contenido p{
	background-color: black;
	color: whitesmoke;
	margin-top: 0px;
	text-align: center;
}
.Dogo img{
	min-height: 91%;
}
.SBernardo img{
	max-height: 91%;
}
.Mastin img{
	max-height: 91%;
}
.Leonberger img{
	max-height: 91%;
}
.Bullmastiff img{
	min-height: 91%;
}
.TosaInu img{
	max-height: 91%;
}
.Terranova img{
	min-height: 91%;
}
.PerroLoboC img{
	min-height: 91%;
}
.FilaB img{
	min-height: 91%;
}
.DogoB img{
	max-height: 91%;
}
.DogoT img{
	max-height: 91%;
} 
.Komondor img{
	min-height: 91%;
}
table{
	border-collapse: collapse;
}
th{
	background-color: black;
	color: blanchedalmond;
}
td,th{
	border:1px solid black;
	padding: 0.5 rem;
}
table img{
	max-width: 100%;
	max-height: 100%;
}